h1, h2{font-family: 'Quicksand', sans-serif;}
h2{font-size: 20px;}
p{font-family: 'Roboto', sans-serif;font-size: 16px;}
a{font-weight: bold;color:black;text-decoration:none;}
a:hover{text-decoration:underline;}


.box{margin-bottom: 50px;}
.credit{font-size: 12px; color: grey;font-style: italic;}
ul, li{margin:0;padding:0;}
li{list-style: none;line-height: 1.3;}